@import "variables";
@import "mixins";

.row-resize, .col-resize {
    position: absolute;
    opacity: 0;
    transition: opacity .3s;
    background-color: $blue;
}

.excel__table {
    position: absolute;
    top: $header-height+$toolbar-height+$formula-height;
    left: 0;
    right: 0;
    padding-bottom: 2px;
    overflow-x: auto;
    border-bottom: 1px solid $gray;

    .row {
        display: flex;
        flex-direction: row;
        min-height: 20px;
        height: $row-height;
    }

    .row-info {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $cell-width;
        border: 1px solid $gray;
        border-top: none;

        background-color: #F8F9FA;

        .row-resize {
            left: 0;
            right: 0;
            bottom: 0;
            height: 3px;
            cursor: row-resize;
            
            &:hover {
                opacity: 1 !important;
            }
        }
    }

    .row-data {
        display: flex;
    }

    .column {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $cell-width;
        width: $column-width;
        height: 100%;
        border: 1px solid $gray;
        border-top: none;
        border-left: none;

        background-color: #F8F9FA;

        .col-resize {
            top: 0;
            right: 0;
            bottom: 0;
            width: 3px;
            cursor: col-resize;

            &:hover {
                opacity: 1 !important;
            }
        }
    }

    .cell {
        min-width: $cell-width;
        padding: 8px;
        width: $column-width;
        height: 100%;
        border: 1px solid #e2e3e3;
        border-top: none;
        border-left: none;
        white-space: nowrap;
        outline: none;

        &.selected {
            z-index: 1;
            border: none;
            border: 1px solid #3c74ff;
        } 
    }
}